@import './variables';

#root {
	position: relative;
	height: 100vh;
}
.modal {
	height: calc(100vh - 90px);
	width: 100vw;
	background-color: rgba(57, 55, 72, 0.22);
	position: fixed;
	bottom: 0;
	left: 0;

	.modal-container {
		position: relative;
		.modal-content {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 0;
			right: 0;
			width: max-content;
			background-color: white;
			padding: 32px 16px;
			max-height: 80vh;

			overflow-y: auto;
		}
		.modal-title{
			margin-bottom: 32px;
		}
	}
}

.modal-title {
	font-family: 'Raleway';
	font-size: 16px;
	line-height: 160%;
	color: $black;
}

.modal-item-cart {
	display: flex;
	column-gap: 8px;
	margin-bottom: 40px;
	

	

	&__description {
		flex-grow: 1;
		p {
		font-family: 'Raleway';
		font-weight: 300;
		font-size: 16px;
		line-height: 160%;		
		color: $black;
		margin-bottom: 4px;
		}
		span {
			font-family: 'Raleway';
			font-weight: bold;
			font-size: 16px;
			line-height: 160%;
			color: $black;
		}
	}
	&__counter {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}
.atr-overlay-wrapper {
	display: flex;
	column-gap: 8px;
}

.atr-overlay {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	margin-top: 8px;
	p {
		font-family: 'Raleway';
		font-size: 14px;
		line-height: 16px;
		color: $black;
	}
}

.modal-color-atr {
	width: 20px;
	height: 20px;
}
.modal-color-atr.active {
	border: 1px solid $green;
}
.modal-atr-item {
	min-width: 24px;
	padding: 0 3px;
	min-height: 24px;
	border: 1px solid $black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	line-height: 160%;
}
.modal-atr-item.active {
	background-color: $black;
	color: white;
}

.modal-item-cart__counter {
	font-family: 'Raleway';
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		border: 1px solid $black;
		background-color: white;
		cursor: pointer;
		color:  $black;
		font-weight: bold;
		font-size: 20px;
		transition: all 0.4s;

		&:hover {
				background-color: $green;
				color: white;
				border: none;
			}
	}
}
.modal-item-img {
	display: block;
	width: 121px;
	height: 100%;
	align-self: center;
}
.total {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	font-size: 16px;
	color: $black;
		&__text {
			font-family: 'Roboto';
		}
		&__price {
			font-family: 'Raleway';
		}
}
.modal-btn {
	margin-top: 32px;
	display: flex;
	justify-content: space-between;

	button {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 120%;
		text-transform: uppercase;
		color: $black;
		cursor: pointer;
		width: 140px;
		height: 43px;
		border: 1px solid $black;
		background-color: white;
		transition: all 0.4s;
		&:hover {
			background-color: $green;
			color: white;
			border: none;
		}
	}
}